.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #9A9A9A;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: 700;
}

.breadcrumbs__item::after {
  content: "/";
  color: #9A9A9A;
  padding-left: 3px;
  padding-right: 3px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}