.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}


.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -27px;
}

.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}

