.logo {
  width: 85px;
  height: 36px;
  display: block;
  margin-right: 79px;
}

.logo__img{
  max-width: 100%;
  max-height: 100%;
}

.logo--inner {
  width: 98px;
  height: 42px;
  margin-right: 66px;
}

.logo--outer {
  width: 279px;
  height: 119px;
  margin-right: 0;
}