.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__display {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 23px;
  padding-left: 12px;
}

.paginator__item {
  text-align: center;
  margin-right: 2px;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;
}

.paginator__link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  transition: color .3s, background .3s;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}

.paginator--theme--dark {
  color: #000;
}

.paginator--theme--dark .paginator__display {
  margin-right: 24px;
  padding-left: 42px;
}

.paginator--theme--dark .paginator__item--active .paginator__link {
  color: #fff;
  background: #F5170E;
}

.paginator--theme--dark .paginator__item .paginator__link:hover {
  color: #fff;
  background: #F5170E;
}

