.separator {
  background: url("../../img/couple.png") right 16% bottom no-repeat, url("../../img/Rectangle.png") 0 0 / cover no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}

.separator__content {
  max-width: 50%;
}

.separator__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}
