.top-line {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding-bottom: 23.5px;
  background: url("/../img/bg-services.png") right 50% top no-repeat;
  margin-bottom: 98px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.top-line__header {
  margin-bottom: 0;
}

.top-line__page-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}