body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  min-width: 100%;
}

body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: #001821;
  background: url(./img/bg-header.png) center top no-repeat, url(./img/bg-about-us.png) right bottom 307px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  margin-bottom: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  width: 85px;
  height: 36px;
  display: block;
  margin-right: 79px;
}

.logo__img{
  max-width: 100%;
  max-height: 100%;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
  margin-top: 11px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  line-height: 19px;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  font-style: normal;
  text-align: right;
  margin-top: 10px;
} 

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
  display: block;
}

.contacts__dropdown-title {
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  color: #98A4A8;
  margin-top: -1px;
}

.contacts__dropdown-title:hover {
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 774px;
}

.hero__content{
  margin-bottom: 245px;
}

.hero__text-section {
  width: 45%;
  min-height: 333px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 27.5px;
  line-height: 98px;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 34.5px;
}

.hero__btn {
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 41px;
  text-transform: uppercase;
  font-weight: bold;
}

.hot-tours {
  margin-bottom: 127px;
}

.hot-tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 3px;
}

.hot-tours__title::after {
  position: absolute;
  content: "";
  display: inline-block;
  background: url("./img/flame-icon.png") center center contain no-repeat;
  width: 21px;
  height: 28px;
  margin-left: 12px;
  margin-top: 3px;
}

.hot-tours__list {
  display: flex;
  justify-content: space-between;
}

.hot-tours__item__ul {
  width: calc(100% / 3 - 18px);
}

.hot-tours__item {
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.hot-tours__cover-box {
  width: 100%;
  height: 144px;
}

.hot-tours__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hot-tours__content{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 26px 22px;
  color: #000;
}

.hot-tours__title-content {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 14px;
  margin-top: 6px;
}

.hot-tours__features-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-left: 6px;
  padding-right: 40px;
}

.hot-tours__features-item {
  /* display: inline-block;
  vertical-align: top; */
  margin-right: px;
  margin-left: 0px;
  margin-top: 8px;
}

.hot-tours__features-item:last-child {
  margin-right: 0;
}

.hot-tours__feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  /* display: inline-block;
  vertical-align: middle; */
}

.hot-tours__feature-text::before {
  content: "";
  height: 26px;
  width: 26px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background: center center / contain no-repeat;
}

.hot-tours__feature-text--date::before {
  background: url("./img/calendar-icon.png");
}

.hot-tours__feature-text--meal::before {
  background: url("./img/meal-icon.png");
  width: 36px;
}

.hot-tours__desc {
  color: #303030;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.hot-tours__btn-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.btn-white {
  color:  #F5170E;
  display: inline-block;
  background:  #fff;
  border: 1px solid #F5170E;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  padding: 18px 30px;
}

.hot-tours__btn {
  padding: 18px 30px;
}

.btn-white:hover {
  color: #fff;
  background: #F5170E;
}

.btn-white--active {
  color: #fff;
  background: #F5170E;
}

.news {
  margin-bottom: 145px;
}

.news__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 50px;
}

.news__list {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  vertical-align: top;
  margin-right: 2%;
  flex: 1;
}

.news-block {
  position: relative;
  overflow: hidden;
}

.news__item:last-child{
  margin-right: 0;
}

.news-block__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-block__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 18px 29px;
  min-height: 160px;
}

.news-block__when {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
  display: block;
}

.news-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.news-block__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__display {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 23px;
  padding-left: 12px;
}

.paginator__item {
  text-align: center;
  margin-right: 2px;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;
}

.paginator__link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}

.about-us {
  margin-bottom: 55px;
}

.about-us__block {
  display: flex;
}

.about-us__block::before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  border-radius: 5px;
  background: url("./img/gates.png") center center / cover no-repeat;
}

.about-us__btn {
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.about-us__content {
  background: url("./img/mountains.png") center center / cover no-repeat;
  padding: 70px 202px 66px 81px;
  border-radius: 5px;
  vertical-align: top;
  width: 785px;
  min-height: 455px;
  margin-left: -137px;
  margin-top: 96px;
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 38px;
  margin-right: 2px;
  color: #060606;
}

.about-us__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
  max-width: 502px;
  margin-bottom: 42px;
}

.about-us__desc p {
  margin-bottom: 10px;
}

.about-us__desc p:last-child {
  margin-bottom: 0;
}

.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer-container__section {
  padding-top: 35px;
  padding-bottom: 65px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: space-between;
}

.footer__logo{
  display: block;
}

.footer__contacts {
  font-style: normal;
  text-align: right;
}

.footer__contacts__desc {
  color: #9A9A9A;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  display: block;
  margin-bottom: 4px;
}

.socials {
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat contain;
}

.socials__item--icon--tg .socials__link {
  background-image: url("./img/tg.png");
}

.socials__item--icon--tg .socials__link:hover {
  background-image: url("./img/tg-hover.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("./img/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("./img/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("./img/fb.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("./img/fb-hover.png");
}

.socials__item--icon--ig .socials__link {
  background-image: url("./img/ig.png");
}

.socials__item--icon--ig .socials__link:hover {
  background-image: url("./img/ig-hover.png");
}


/* services page */

.services__wrapper{
  background: #fff;
}

.top-line {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding-bottom: 23.5px;
  background: url("./img/bg-services.png") right 50% top no-repeat;
  margin-bottom: 98px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.logo--inner {
  width: 98px;
  height: 42px;
  margin-right: 66px;
}

.page-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #9A9A9A;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: 700;
}

.breadcrumbs__item::after {
  content: "/";
  color: #9A9A9A;
  padding-left: 3px;
  padding-right: 3px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.page-content {
  margin-bottom: 84px;
}

.services__block{
  display: flex;
  margin-bottom: 49px;
}

.services__block:last-child {
  margin-bottom: 0;
}

.services__img {
  width: 40%;
  height: 333px;
  margin-right: 5.5%;
  border-radius: 5px;
}

.services__content {
  flex: 1;
  padding: 12px 4px 0 0;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #000;
  margin-bottom: 28.5px;
}

.services__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #303030;
  margin-bottom: 34.5px;
}

.services__btn {
  padding: 18px 38px
}

.btn-white--active {
  background: #F5170E;
}

.paginator--theme--dark {
  color: #000;
  margin-top: 65px;
}

.paginator--theme--dark .paginator__display {
  margin-right: 24px;
  padding-left: 42px;
}

.paginator--theme--dark .paginator__item--active .paginator__link {
  color: #fff;
  background: #F5170E;
}

.paginator--theme--dark .paginator__item .paginator__link:hover {
  color: #fff;
  background: #F5170E;
}

.partners {
  padding: 88px 0 81px 0;
  color: #1A1B1E;
}

.partners--bg--grey {
  background: #F4F5F5;
}

.partners__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 57px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 222px;
  height: 123px;
  align-items: center;
  justify-content: center;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 84px;
  filter: grayscale(80%); /* это ради экспиремента ;) */
}

.partners__item:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}

.inner-footer {
  background: #001821;
}

.container__inner-footer {
  padding-top: 37px;
  padding-bottom: 45px;
}