body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url("./img/bg-header.png") center top no-repeat, url("./img/bg-about-us.png") right bottom 118px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
  position:relative;
}

.header {
  height: 123px;
  position: relative;
  margin-bottom: 73px;
  padding-top: 26.64px;
}

.header__logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.logo {
  width: 85px;
  height: 36px;
}

.logo__img{
  max-width: 100%;
  max-height: 100%;
}

.header__menu {
  position: absolute;
  top: 39px;
  left: 164px;
}

.header__contacts {
  position: absolute;
  top: 30px;
  right: 0px;
  font-style: normal;
  text-align: right;
} 

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  line-height: 19px;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 1;
  display: block;
}

.contacts__dropdown-title {
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  color: #98A4A8;
  margin-top: -1px;
}

.contacts__dropdown-title:hover {
  color: #fff;
}

.hero__content{
  margin-bottom: 245px;
}

.hero__text-section {
  width: 511px;
  height: 333px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 27.5px;
  line-height: 98px;
}

.hero__subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 34.5px;
}

.hero__btn {
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 41px;
  text-transform: uppercase;
  font-weight: bold;
}

.hot-tours {
  margin-bottom: 127px;
}

.hot-tours__title {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-left: 3px;
}

.hot-tours__title::after {
  position: absolute;
  content: "";
  display: inline-block;
  background: url("./img/flame-icon.png") center center contain no-repeat;
  width: 21px;
  height: 28px;
  margin-left: 12px;
  margin-top: 3px;
}

.hot-tours__item {
  display: inline-block;
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  margin-right: 22px;
  width: 362px;
}

.hot-tours__item:last-child {
  margin-right: 0;
}

.hot-tours__cover-box {
  width: 100%;
  height: 144px;
}

.hot-tours__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hot-tours__content{
  position: relative;
  padding: 26px 22px;
  color: #000;
}

.hot-tours__title-content {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 14px;
  margin-top: 6px;
}

.hot-tours__features-list {
  margin-bottom: 23px;
  padding-left: 6px;
}

.hot-tours__features-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-left: 0px;
  margin-top: 8px;
}

.hot-tours__features-item:last-child {
  margin-right: 0;
}

.hot-tours__feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  display: inline-block;
  vertical-align: middle;
}

.hot-tours__feature-text::before {
  content: "";
  height: 26px;
  width: 26px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  background: center center / contain no-repeat;
}

.hot-tours__feature-text--date::before {
  background: url("./img/calendar-icon.png");
}

.hot-tours__feature-text--meal::before {
  background: url("./img/meal-icon.png");
  width: 36px;
}

.hot-tours__desc {
  color: #303030;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.hot-tours__btn {
  color:  #F5170E;
  display: inline-block;
  background:  #fff;
  border: 1px solid #F5170E;
  border-radius: 35px;
  padding: 18px 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.hot-tours__btn:hover {
  color: #fff;
  background: #F5170E;
}

.hot-tours__btn--active {
  color: #fff;
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.news {
  margin-bottom: 146px;
}

.news__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 50px;
}

.news__list {
  margin-bottom: 52px;
}

.news__item {
  display: inline-block;
  vertical-align: top;
  width: 557px;
  position: relative;
  margin-right: 20px;
}

.news__item:last-child{
  margin-right: 0;
}

.news-block__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-block__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 18px 29px;
  min-height: 160px;
}

.news-block__when {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
  display: block;
}

.news-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.news-block__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  text-align: center;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 21px;
  padding-left: 20px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link {
background: #fff;
color: #F5170E;
}

.paginator__link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}

.about-us {
  margin-bottom: 55px;
}

.about-us__block::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("./img/gates.png") center center / cover no-repeat;
}

.about-us__btn {
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.about-us__content {
  background: url("./img/mountains.png") center center / cover no-repeat;
  padding: 70px 202px 66px 81px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  min-height: 455px;
  margin-left: -141px;
  margin-top: 97px;
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 38px;
  margin-right: 2px;
  color: #060606;
}

.about-us__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
  width: 502px;
  margin-bottom: 42px;
}

.about-us__desc p {
  margin-bottom: 10px;
}

.about-us__desc p:last-child {
  margin-bottom: 0;
}

.footer-container {
  margin-top: 41px;
  height: 93px;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer {
  position: relative;
}

.footer__logo{
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
}

.footer__menu {
  position: absolute;
  top: 57px;
  left: 164px;
}

.footer__contacts {
  position: absolute;
  top: 42px;
  right: 0px;
  font-style: normal;
  text-align: right;
}

.footer__contacts__desc {
  color: #9A9A9A;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  display: block;
  margin-bottom: 4px;
}

.socials {
  top: 50px;
  right: 265px;
  position: absolute;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat contain;
}

.socials__item--icon--tg .socials__link {
  background-image: url("./img/tg.png");
}

.socials__item--icon--tg .socials__link:hover {
  background-image: url("./img/tg-hover.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("./img/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("./img/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("./img/fb.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("./img/fb-hover.png");
}

.socials__item--icon--ig .socials__link {
  background-image: url("./img/ig.png");
}

.socials__item--icon--ig .socials__link:hover {
  background-image: url("./img/ig-hover.png");
}




